<div class="px-8 mt-5">
  <div class="border-bottom-2 border-orange-500 pb-2 font-bold">{{category?.title}}</div>
  <p-dataView #dv [value]="posts">
    <ng-template pTemplate="list" let-post>
      <div class="grid grid-nogutter">
        <div [routerLink]="'/post/view/' + item?.id" class="col-12 grid mt-3"
             [ngClass]="{ 'border-top-1 surface-border': !first }" *ngFor="let item of posts; let first = first">
          <div class="col-12 md:col-2">
            <p-image
              [src]="item.thumbnail"
              [alt]="item.title"
              width="200"
              height="100" />
          </div>
          <div class="col-12 md:col-10 py-3 cursor-pointer">
            <div class="font-bold">{{item.title}}</div>
            <div>{{item.subTitle}}</div>
            <div class="flex align-items-center justify-content-between mt-3">
              <span class="text-sm text-500">{{item.author.firstName}} {{item.author.lastName}}</span>
              <span class="text-sm text-500">{{item.createdAt}}</span>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </p-dataView>
</div>
