<div class="px-5 mt-3">
  <div class="flex justify-content-between border-bottom-2 border-orange-500 pb-2 font-bold">
    <div>Comments</div>
    <p-button (click)="openForm()" label="Add comment" size="small" />
  </div>
  <p-dataView #dv [value]="comments">
    <ng-template pTemplate="list" let-comment>
      <div class="grid grid-nogutter">
        <div class="col-12 grid mt-3" [ngClass]="{ 'border-top-1 surface-border': !first }" *ngFor="let item of comments; let first = first">
          <div class="col-12">
            <div class="grid mt-3">
              <span class="col-12 md:col-4 text-sm text-500 font-bold">{{item.fullName}}</span>
              <span class="col-12 md:col-4 text-sm text-500">{{item.createdAt}}</span>
              <span (click)="openForm(item)" class="col-12 md:col-4 pi pi-pencil cursor-pointer" style="color: #2196f3"></span>
            </div>
            <div class="mt-2">{{item.content}}</div>
          </div>
        </div>
      </div>
    </ng-template>
  </p-dataView>
</div>

<p-dialog header="Comment" [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }">
  <form [formGroup]="form">
    <div class="flex align-items-center gap-3 mt-3">
      <label for="fullName" class="font-semibold w-6rem">Full Name</label>
      <input pInputText
             [ngClass]="{'ng-invalid ng-dirty': submit && form.controls['fullName'].errors}"
             id="fullName"
             class="flex-auto"
             formControlName="fullName" />
    </div>
    <div class="flex align-items-center gap-3 mt-3">
      <label for="content" class="font-semibold w-6rem">Content</label>
      <input pInputText
             [ngClass]="{'ng-invalid ng-dirty': submit && form.controls['content'].errors}"
             id="content"
             class="flex-auto"
             formControlName="content" />
    </div>
    <div class="flex justify-content-end gap-2 mt-3">
      <p-button label="Cancel" severity="secondary" (click)="hiddenForm()" />
      <p-button label="Save" (click)="onSubmit()" />
    </div>
  </form>
</p-dialog>
