<div class="mx-8 my-5">
  <div class="grid">
    <div class="col-12 md:col-6 px-5">
      <app-card-post [value]="postNew" [heightImage]="'300'"></app-card-post>
    </div>
    <div class="col-12 md:col-6 px-5">
      <div class="border-bottom-2 border-orange-500 pb-2 font-bold">Featured Posts</div>
      <p-dataView #dv [value]="post5TopNew">
        <ng-template pTemplate="list" let-post>
          <div class="grid grid-nogutter">
            <div class="col-12" *ngFor="let item of post5TopNew; let first = first" class="col-12">
              <div [routerLink]="'/post/view/' + item?.id" class="py-3 cursor-pointer"
                   [ngClass]="{ 'border-top-1 surface-border': !first }">
                <div class="flex align-content-center justify-content-between gap-2">
                  <span [routerLink]="'/post/view/' + item?.id"
                        class="text-lg mb-2 font-bold white-space-nowrap overflow-hidden text-overflow-ellipsis">
                    {{ item?.title }}
                  </span>
                  <div class="relative">
                    <i class="pi pi-heart-fill " [style.color]="'red'" style="font-size: 2rem">
                    </i>
                    <small class="absolute text-white"
                           [style]="{top: '8px', left: '12px'}">{{ item?.authorsOfLike?.length }}</small>
                  </div>
                </div>
                <div class="flex align-items-center justify-content-between mt-3">
                  <span class="text-sm text-500">{{ item.author.firstName }} {{ item.author.lastName }}</span>
                  <span class="text-sm text-500">{{ item.createdAt | date : "yyyy/MM/dd HH:mm" }}</span>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </p-dataView>
    </div>
  </div>
  <div class="grid mt-3">
    @for (post of post4TopNew; track post) {
      <div class="col-12 md:col-3 px-5">
        <app-card-post [value]="post" [heightImage]="'200'"></app-card-post>
      </div>
    }
  </div>

  @for (item of postsByCategory; track item) {
    <div class="flex align-items-end justify-content-between px-5 mt-8">
      <span class="font-bold text-lg">{{ item.category.title }}</span>
      <span [style.width.%]="80" class="border-2 border-orange-500"></span>
      <span [routerLink]="'/posts-by-category/'+ item.category.id" class="text-blue-400 cursor-pointer">See more</span>
    </div>
    <div class="grid mt-3 px-5">
      @if (item.posts.length) {
        @for (post of item.posts; track post) {
          <div [routerLink]="'/post/view/' + post?.id" class="col-12 md:col-6 cursor-pointer">
            <p-card class="p-0">
              <div>
                <div class="flex align-content-center justify-content-between gap-2">
                  <span [routerLink]="'/post/view/' + post?.id"
                        class="text-lg mb-2 font-bold white-space-nowrap overflow-hidden text-overflow-ellipsis">
                    {{ post?.title }}
                  </span>
                  <div class="relative">
                    <i class="pi pi-heart-fill " [style.color]="'red'" style="font-size: 2rem">
                    </i>
                    <small class="absolute text-white"
                           [style]="{top: '8px', left: '12px'}">{{ post?.authorsOfLike?.length }}</small>
                  </div>
                </div>
                <div [style.width.%]="90"
                     class="white-space-nowrap overflow-hidden text-overflow-ellipsis">{{ post?.subTitle }}
                </div>
              </div>
              <ng-template pTemplate="footer">
                <div class="flex gap-3">
                  <span
                    class="text-500 white-space-nowrap overflow-hidden text-overflow-ellipsis">
                    {{ post?.author?.firstName }} {{ post?.author?.lastName }}
                  </span>
                  <span
                    class="text-500 white-space-nowrap overflow-hidden text-overflow-ellipsis">
                    {{ post?.createdAt | date : "yyyy/MM/dd HH:mm" }}
                  </span>
                </div>
              </ng-template>
            </p-card>

          </div>
        }
      } @else {
        <div class="text-center text-400 w-full text-xl">No Data</div>
      }
    </div>
  }
</div>



