<div class="p-5">
  <form [formGroup]="form">
    <div class="flex flex-column gap-2 mt-3">
      <label for="title">Title</label>
      <input
        pInputText
        [ngClass]="{'ng-invalid ng-dirty': submit && form.controls['title'].errors}"
        id="title"
        formControlName="title"/>
    </div>
    <div class="flex flex-column gap-2 mt-3">
      <label for="subTitle">Sub title</label>
      <input
        pInputText
        [ngClass]="{'ng-invalid ng-dirty': submit && form.controls['subTitle'].errors}"
        id="subTitle"
        formControlName="subTitle"/>
    </div>
    <div class="flex flex-column gap-2 mt-3">
      <label>Content</label>
      @if (isShow) {
        <p-stepper #stepper [activeStep]="activeStep" orientation="vertical">
          <ng-container formArrayName="contents">
            @for (content of contents.controls; track content; let i = $index) {
              <ng-container [formGroupName]="i">
                <p-stepperPanel class="w-full">
                  <ng-template pTemplate="header" let-onClick="onClick" let-index="index">
                    <button (click)="onClick.emit()"
                            class="bg-transparent border-none inline-flex flex-column gap-2 cursor-pointer">
                      <p-avatar
                        [label]="(index+1).toString()"
                        styleClass="mr-2 bg-white border-2 border-300"
                        size="large"
                        shape="circle"/>
                    </button>
                    <div class="flex align-items-center justify-content-between gap-5">
                      <div class="flex align-items-center gap-2">
                        <label>Content Type:</label>
                        <p-dropdown
                          [ngClass]="{'ng-dirty ng-invalid': submit && !contents.controls[i].value.type}"
                          (onChange)="changeType($event.value, index)"
                          [options]="contentTypes" [style]="{'min-width': '200px'}"
                          formControlName="type"
                          optionLabel="name"
                          optionValue="value" placeholder="Select content type"/>
                      </div>
                      @if (i !== 0) {
                        <p-button label="Delete" severity="danger" (onClick)="deleteContent(i)"/>
                      }
                    </div>
                  </ng-template>
                  <ng-template pTemplate="content" let-nextCallback="nextCallback" let-index="index">
                    @if (content.get('type')?.value === "image") {
                      <div class="flex flex-column image">
                        <input
                          [ngClass]="{'ng-dirty ng-invalid': submit && !content.get('value')?.value}"
                          formControlName="value" pInputText id="username" class="w-full"
                          placeholder="Enter image"/>
                      </div>
                    }
                    @if (content.get('type')?.value === "text") {
                      <div class="flex flex-column text">
                        <p-editor
                          [ngClass]="{'ng-dirty ng-invalid': submit && !content.get('value')?.value}"
                          formControlName="value" class="w-full">
                          <ng-template pTemplate="header">
                                      <span class="ql-formats">
                                        <select title="Font Size" class="ql-size">
                                           <option value="small">small</option>
                                           <option value="normal">normal</option>
                                           <option value="large">large</option>
                                           <option value="huge">huge</option>
                                        </select>
                                          <button type="button" class="ql-bold" aria-label="Bold"></button>
                                          <button type="button" class="ql-italic" aria-label="Italic"></button>
                                          <button type="button" class="ql-underline" aria-label="Underline"></button>
                                      </span>
                          </ng-template>
                        </p-editor>
                      </div>
                    }
                    @if (content.get('type')?.value === "slider") {
                      <div class="flex flex-column slider">
                        <div class="">
                          @for (item of content.get('value')?.value; track item; let itemIndex = $index) {
                            <div class="flex align-content-center gap-2 mt-3">
                              <input
                                [ngClass]="{'ng-dirty ng-invalid': submit && !content.get('value')?.value[itemIndex]}"
                                (focusout)="updateValueSlider(i, itemIndex, $event)"
                                [value]="this.contents.controls[index].get('value')?.value[itemIndex]" pInputText
                                class="w-full" placeholder="Enter image"/>
                                <p-button (onClick)="removeImageSlider(i, itemIndex)" label="Delete" severity="danger"/>
                            </div>
                          }
                        </div>
                        <div class="text-right mt-3">
                          <p-button (onClick)="addImageSlider(i)" label="Add"/>
                        </div>
                      </div>
                    }
                    @if (index === contents.controls.length - 1) {
                      <div class="flex py-4 gap-2">
                        <p-button label="Next" (onClick)="addContent()"/>
                      </div>
                    }
                  </ng-template>
                </p-stepperPanel>
              </ng-container>
            }
          </ng-container>
        </p-stepper>
      }

    </div>
    <div class="flex flex-column gap-2 mt-3">
      <label for="thumbnail">Thumbnail</label>
      <input
        pInputText
        [ngClass]="{'ng-invalid ng-dirty': submit && form.controls['thumbnail'].errors}"
        id="thumbnail"
        formControlName="thumbnail"/>
    </div>
    <div class="flex flex-column gap-2 mt-3">
      <label for="author">Author</label>
      <p-dropdown
        [options]="authors"
        [styleClass]="'w-full'"
        [ngClass]="{'ng-dirty ng-invalid': submit && form.controls['authorId'].errors}"
        formControlName="authorId"
        id="author"
        optionValue="id"
      >
        <ng-template let-item pTemplate="selectedItem">
          <div class="flex align-items-center gap-2">
            <span>{{ item.firstName }} {{ item.lastName }}</span>
          </div>
        </ng-template>
        <ng-template let-item pTemplate="item">
          <span>{{ item.firstName }} {{ item.lastName }}</span>
        </ng-template>
      </p-dropdown>
    </div>
    <div class="flex flex-column gap-2 mt-3">
      <label for="category">Category</label>
      <p-dropdown
        [options]="categories"
        [styleClass]="'w-full'"
        [ngClass]="{'ng-dirty ng-invalid': submit && form.controls['categoryId'].errors}"
        formControlName="categoryId"
        id="category"
        optionLabel="title"
        optionValue="id"
      />
    </div>
    <div class="flex flex-column gap-2 mt-3">
      <label for="tags">Tags</label>
      <p-multiSelect
        [options]="tags"
        [styleClass]="'w-full'"
        [ngClass]="{'ng-dirty ng-invalid': submit && form.controls['tags'].errors}"
        id="tags"
        formControlName="tags"
        optionLabel="title"
        optionValue="id"/>
    </div>
    <div class="flex flex-column gap-2 mt-3">
      <label for="published">Published</label>
      <p-inputSwitch id="published" formControlName="published"/>
    </div>

    <div class="flex justify-content-end gap-2 mt-3">
      <p-button [routerLink]="'/home'" severity="secondary" label="Cancel"/>
      <p-button (onClick)="onSubmit()" label="Save"/>
    </div>
  </form>
</div>
